:root {
  --primary: #4a4e69;
  --bg: #22223b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* NavBar */
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--bg);
  color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navBar .navBarLogo {
  font-size: 1.7rem;
  font-weight: 700;
  color: #f2e9e4;
}

.navBar .navBarNav a {
  color: #f2e9e4;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}

.navBar .navBarNav a:hover {
  color: var(--primary);
}

.navBar .navBarNav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navBar .navBarNav a:hover::after {
  transform: scaleX(0.5);
}

.navBar .navBarExtra a {
  color: #f2e9e4;
  margin: 0 0.3rem;
}

.navBar .navBarExtra a:hover {
  color: var(--primary);
}

#hamburgerMenu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("/assets/Desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(34, 34, 59, 1) 3%,
    rgba(255, 255, 255, 0) 55%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  font-weight: 700;
  color: #f2e9e4;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.3;
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 0.5rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  color: #f2e9e4;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* Tentang Section */
.tentang {
  padding: 6.5rem 7% 1.4rem;
}

.tentang h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #f2e9e4;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  margin-bottom: 3rem;
}

.tentang .row {
  display: flex;
  align-items: center;
}

.tentang .row .logoSurakarta {
  flex: 1 1 8rem;
  margin-right: 1rem;
}

.tentang .row .logoSurakarta img {
  width: 100%;
}

.tentang .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
  text-align: justify;
}

.tentang .row .content h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.tentang .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.6;
}

/* Sejarah Section */
.sejarah {
  padding: 6.5rem 7% 1.4rem;
}

.sejarah h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #f2e9e4;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  margin-bottom: 3rem;
}

.sejarah .row1 {
  display: flex;
  align-items: center;
}

.sejarah .row1 .imageSejarah {
  flex: 1 1 8rem;
  margin-right: 1rem;
}

.sejarah .row1 .imageSejarah img {
  width: 100%;
}

.sejarah .row1 .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
  text-align: justify;
}

.sejarah .row1 .content h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.sejarah .row1 .content p {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.6;
}

/* Geografis Section */
.geografis {
  padding: 6.5rem 7% 1.4rem;
}

.geografis h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #f2e9e4;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  margin-bottom: 3rem;
}

.geografis .row2 {
  display: flex;
  align-items: center;
}

.geografis .row2 .imageGeografis {
  flex: 1 1 8rem;
  margin-right: 1rem;
}

.geografis .row2 .imageGeografis img {
  width: 100%;
}

.geografis .row2 .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
  text-align: justify;
}

.geografis .row2 .content h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.geografis .row2 .content p {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.6;
}

/* Wisata Section */
.wisata {
  padding: 6.5rem 7% 1.4rem;
}

.wisata h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #f2e9e4;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  margin-bottom: 1rem;
  text-align: center;
}

.wisata p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  max-width: 70rem;
  margin: auto;
}

.wisata .row3 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
  justify-content: center;
}

.wisata .row3 .wisata-card {
  text-align: center;
  padding-bottom: 4rem;
}

.wisata .row3 .wisata-card img {
  border-radius: 75%;
  width: 80%;
}

.wisata .row3 .wisata-card .wisata-card-title {
  font-size: 1rem;
  margin: 1rem auto 0.5rem;
}

/* Kontak Section */
.kontak {
  padding: 6.5rem 7% 1.4rem;
}

.kontak h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #f2e9e4;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  margin-bottom: 1rem;
  text-align: center;
}

.kontak p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  max-width: 70rem;
  margin: auto;
}

.kontak .row4 {
  display: flex;
  margin-top: rem;
}

.kontak .row4 form {
  flex: 1 1 45rem;
  padding: 1rem 2rem;
  text-align: center;
}

.kontak .row4 form .input-form {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--primary);
  padding-left: 1rem;
  border: 1px solid #f2e9e4;
}

.kontak .row4 form .input-form input {
  width: 100%;
  background: none;
  padding: 1rem;
  font-size: 1.2rem;
  color: #f2e9e4;
}

.kontak .row4 form .submit-button {
  margin-top: 2rem;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #f2e9e4;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  cursor: pointer;
}

/* Footer */

footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 1rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
  display: inline-block;
}

footer .socials a {
  color: #f2e9e4;
  margin: 1rem;
}

footer .socials a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.5rem;
}

footer .links a {
  color: #f2e9e4;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
}

footer .links a:hover {
  color: var(--bg);
}

footer .copyright {
  font-size: 0.7rem;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #hamburgerMenu {
    display: inline-block;
  }

  .navBar .navBarNav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--primary);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navBar .navBarNav.active {
    right: 0;
  }

  .navBar .navBarNav a {
    color: #f2e9e4;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .navBar .navBarNav a:hover {
    color: var(--bg);
  }

  .navBar .navBarNav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--bg);
    transform: scaleX(0);
    transition: 0.2s linear;
    transform-origin: 0 0;
  }

  .navBar .navBarNav a:hover::after {
    transform: scaleX(0.2);
  }
  /* Tentang Section */
  .tentang {
    padding: 2rem 1%;
  }

  .tentang h2 {
    text-align: center;
  }

  .tentang .row {
    flex-wrap: wrap;
  }

  .tentang .row .logoSurakarta {
    flex: 1 1 100%;
    max-width: 80%;
    margin: auto;
    margin-bottom: 1rem;
  }

  .tentang .row .content {
    padding: 0rem;
  }

  .tentang .row .content h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .tentang .row .content p {
    font-size: 1.5rem;
    text-align: center;
    max-width: 50rem;
    margin: auto;
  }

  /* Sejarah Section */

  .sejarah {
    padding: 2rem 1%;
  }

  .sejarah h2 {
    text-align: center;
  }

  .sejarah .row1 {
    flex-wrap: wrap;
  }

  .sejarah .row1 .imageSejarah {
    flex: 1 1 100%;
    max-width: 80%;
    margin: auto;
    margin-bottom: 1rem;
  }

  .sejarah .row1 .content {
    padding: 0rem;
  }

  .sejarah .row1 .content h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .sejarah .row1 .content p {
    font-size: 1.5rem;
    text-align: center;
    max-width: 50rem;
    margin: auto;
  }

  /* Geografis Section */

  .geografis {
    padding: 2rem 1%;
  }

  .geografis h2 {
    text-align: center;
  }

  .geografis .row2 {
    flex-wrap: wrap;
  }

  .geografis .row2 .imageGeografis {
    flex: 1 1 100%;
    max-width: 80%;
    margin: auto;
    margin-bottom: 1rem;
  }

  .geografis .row2 .content {
    padding: 0rem;
  }

  .geografis .row2 .content h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .geografis .row2 .content p {
    font-size: 1.5rem;
    text-align: center;
    max-width: 50rem;
    margin: auto;
  }

  /* Wisata Section */

  .wisata p {
    font-size: 1.5rem;
  }

  .wisata .row3 .wisata-card .wisata-card-title {
    font-size: 1.5rem;
  }

  /* Kontak Section */
  .kontak p {
    font-size: 1.5rem;
  }

  /* Footer Section */
  .icon-footer {
    width: 15px;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 45%;
  }
}
