:root {
  --primary: #4a4e69;
  --bg: #22223b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* NavBar */
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--bg);
  color: rgba(1, 1, 1, 0.8);
  border-bottom: 2px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navBar .navBarLogo {
  font-size: 2rem;
  font-weight: 700;
  color: #f2e9e4;
}

.navBar .navBarNav a {
  color: #f2e9e4;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}

.navBar .navBarNav a:hover {
  color: var(--primary);
}

.navBar .navBarNav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navBar .navBarNav a:hover::after {
  transform: scaleX(0.5);
}

.navBar .navBarExtra a {
  color: #f2e9e4;
  margin: 0 0.5rem;
}

.navBar .navBarExtra a:hover {
  color: var(--primary);
}

#hamburgerMenu {
  display: none;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
