:root {
  --primary: #4a4e69;
  --bg: #22223b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--bg);
  color: #fff;
  min-height: 2000px;
}

/* NavBar */
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--bg);
  color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navBar .navBarLogo {
  font-size: 1.7rem;
  font-weight: 700;
  color: #f2e9e4;
}

.navBar .navBarNav a {
  color: #f2e9e4;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}

.navBar .navBarNav a:hover {
  color: var(--primary);
}

.navBar .navBarNav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navBar .navBarNav a:hover::after {
  transform: scaleX(0.5);
}

.navBar .navBarExtra a {
  color: #f2e9e4;
  margin: 0 0.3rem;
}

.navBar .navBarExtra a:hover {
  color: var(--primary);
}

#hamburgerMenu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("/assets/Desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(34, 34, 59, 1) 3%,
    rgba(255, 255, 255, 0) 55%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  font-weight: 700;
  color: #f2e9e4;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.3;
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 0.5rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  color: #f2e9e4;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* About Section */
.tentang {
  padding: 6.5rem 7% 1.4rem;
}

.tentang h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #f2e9e4;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  margin-bottom: 3rem;
}

.tentang .row {
  display: flex;
}

.tentang .row .logoSurakarta {
  flex: 1 1 8rem;
}

.tentang .row .logoSurakarta img {
  /* 
  width: 313px;
  height: 443.94px;
  left: 124px;
  top: 1263px; */
  /* width: 100%; */
}

.tentang .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.tentang .row .content h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.tentang .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.6;
}
/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #hamburgerMenu {
    display: inline-block;
  }

  .navBar .navBarNav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--primary);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navBar .navBarNav.active {
    right: 0;
  }

  .navBar .navBarNav a {
    color: #f2e9e4;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .navBar .navBarNav a:hover {
    color: var(--bg);
  }

  .navBar .navBarNav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--bg);
    transform: scaleX(0);
    transition: 0.2s linear;
    transform-origin: 0 0;
  }

  .navBar .navBarNav a:hover::after {
    transform: scaleX(0.2);
  }

  .tentang .row {
    flex-wrap: wrap;
  }

  .tentang .row .logoSurakarta img {
    height: 30rem;
    object-fit: cover;
    object-position: right;
  }

  .tentang .row .content {
    padding: 0;
  }

  .tentang .row .content h3 {
    font-size: 1.5rem;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 45%;
  }
}
